<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div style="height:60px;margin:5px;padding:5px;">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6579111049316949"
                        crossorigin="anonymous"></script> 
                        <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-client="ca-pub-6579111049316949"
                                data-ad-slot="8705179855"
                                data-ad-format="auto"
                                data-full-width-responsive="true"></ins>
                        <script> (adsbygoogle = window.adsbygoogle || []).push({}); </script>
                    </div>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/page/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">READ MORE</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>